{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World</h1>
    <h3><i class="fa fa-home"></i> youtube </h3>
    <h3><i class="fab fa-youtube fa-2x"></i> youtube </h3>

    <div id="wrap">

        <h2>Courte introduction à jQuery</h2>

        <div id="masque">
            Le contenu de cet élément est masqué au chargement de la page.
        </div>

        <a href="#" id="afficher">Afficher l'élément</a>

    </div>
{% endblock %}
